body {
  background-image: url("/images/globe1.jpg");
  background-position: 65%;
  font-family: monospace;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px 35px 20px 35px;
  border-radius: 20px;
  background: #a3a7e4;
}
h1 {
  text-align: center;
  font-size: 38px;
}
select {
  font-family: monospace;
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(37, 39, 89, 0.2);
}
.place {
  margin: 0 20px;
}
h2 {
  font-size: 35px;
  margin: 0 0 10px;
}
.time {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}
footer {
  text-align: center;
}
